/*####################### CONNEXION ####################*/

#connexion{
    margin-top: 10%;
    .card{
        border-radius: 25px;
        box-shadow: 1px 1px 50px rgba(29, 29, 28, 0.152);
        height: 550px;
        border: none;
        .card-header{
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
           
            background-color: rgba(255, 255, 255, 0.885);
            border-bottom: none;
            .title{
                color: #d70a20;
                font-size: 30px;
                font-weight: bold;
                text-align: center;
                margin-top: 25px;
            }
            img{
                width: 120px;
                text-align: center;
                margin: auto;
                display: flex;
            }
        }
        .card-body{
            form{
                margin-top: 15px;
                .form-group{
                    input{
                    margin: 12px 0px;
                    border: none;
                    }
                    input[type]{
                        background: #edf0f3;
                        height: 55px;
                    }
                    input[placeholder]{
                        color: #768590;
                        font-size: 14px;
                        padding-left: 20px;
                    }
                    .pwd{
                        position: relative;
                        a{
                            color: black;
                            .fa-eye{
                                position: absolute;
                                top: 20px;
                                right: 20px;
                                color: #89959f;
                            }
                            .fa-eye-slash{
                                opacity: 0;
                                position: absolute;
                                top: 20px;
                                right: 20px;
                                color: #89959f;
                            }
                            .fa-eye-slash:hover{
                                opacity: 100;
                            }
                        }
                    }
                }
                p{
                    
                    a{
                        font-size: 15px;
                        color: #d70a20;
                        font-weight: 100;
                        font-size: 13px;
                        margin-left: 5px;
                    }
                }
                button{
                    margin-top: 10px;
                    height: 55px;
                    background: #d70a20;
                    border-color: white;
                    border-radius: 10px !important;
                    font-weight: bold;
                    font-size: 17px;
                    -webkit-border-radius: 6px;
                    -moz-border-radius: 6px;
                    -ms-border-radius: 6px;
                    -o-border-radius: 6px;
                    a{
                        color: white;
                    }
                    a:hover{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}



/*####################### RESERT PASSWORD ####################*/

#resert_pwd{
    margin-top: 10%;
    .card{
        border-radius: 25px;
        box-shadow: 1px 1px 50px rgba(29, 29, 28, 0.152);
        height: 400px;
        border: none;
        .card-header{
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            padding-bottom: 0px;
            background-color: rgba(255, 255, 255, 0.885);
            border-bottom: none;
            .title{
                color: #d70a20;
                font-size: 30px;
                font-weight: bold;
                text-align: center;
                margin-top: 25px;
            }
            .desc_red{
                color: #d70a20;;
                text-align: center;
                font-size: 15px;
                font-weight: 100;
                margin-top: 25px;
            }
            .desc{
                text-align: center;
                font-size: 13px;
                font-weight: 100;
                color: #354052;
            }
        }
        .card-body{
            padding-top: 0px;
            form{
                .form-group{
                    input{
                    margin: 18px 0px;
                    border: none;
                    }
                    input[type]{
                        background: #edf0f3;
                        height: 55px;
                    }
                    input[placeholder]{
                        color: #768590;
                        font-size: 14px;
                        padding-left: 20px;
                    }
                    
                }
                

                button{
                    margin-top: 10px;
                    height: 55px;
                    background: #d70a20;
                    border-color: white;
                    border-radius: 10px !important;
                    font-weight: bold;
                    font-size: 17px;
                    -webkit-border-radius: 6px;
                    -moz-border-radius: 6px;
                    -ms-border-radius: 6px;
                    -o-border-radius: 6px;
                    a{
                        color: white;
                    }
                    a:hover{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

/*####################### CREATE NEW PASSWORD ####################*/

#create_pwd{
    margin-top: 10%;
    .card{
        border-radius: 25px;
        box-shadow: 1px 1px 50px rgba(29, 29, 28, 0.152);
        height: 400px;
        border: none;
        .card-header{
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            padding-bottom: 0px;
            background-color: rgba(255, 255, 255, 0.885);
            border-bottom: none;
            .title{
                color: #d70a20;
                font-size: 30px;
                font-weight: bold;
                text-align: center;
                margin-top: 25px;
            }
            .desc_red{
                color: #d70a20;;
                text-align: center;
                font-size: 15px;
                font-weight: 100;
                margin-top: 25px;
            }
        }
        .card-body{
            padding-top: 0px;
            form{
                margin-top: 15px;
                .form-group{
                    input{
                    margin: 12px 0px;
                    border: none;
                    }
                    input[type]{
                        background: #edf0f3;
                        height: 55px;
                    }
                    input[placeholder]{
                        color: #768590;
                        font-size: 14px;
                        padding-left: 20px;
                    }
                    .pwd{
                        position: relative;
                        a{
                            color: black;
                            .fa-eye{
                                position: absolute;
                                top: 20px;
                                right: 20px;
                                color: #89959f;
                            }
                            .fa-eye-slash{
                                opacity: 0;
                                position: absolute;
                                top: 20px;
                                right: 20px;
                                color: #89959f;
                            }
                            .fa-eye-slash:hover{
                                opacity: 100;
                            }
                        }
                    }
                }
                p{
                    
                    a{
                        font-size: 15px;
                        color: #d70a20;
                        font-weight: 100;
                        font-size: 13px;
                        margin-left: 5px;
                    }
                }
                button{
                    margin-top: 10px;
                    height: 55px;
                    background: #d70a20;
                    border-color: white;
                    border-radius: 10px !important;
                    font-weight: bold;
                    font-size: 17px;
                    -webkit-border-radius: 6px;
                    -moz-border-radius: 6px;
                    -ms-border-radius: 6px;
                    -o-border-radius: 6px;
                    a{
                        color: white;
                    }
                    a:hover{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}


/*####################### DASHBOARD HOME ####################*/

#dashboard_home{
    .container{
        padding-right: 0px;
        padding-left: 0px;
        .row{

            /*---------------   left    -------------- */
            #_left{
                position: relative;
                padding-left: 0px;
                position: sticky;
                height: 100vh;
                top: 1px;
                .row{
                    margin-top: 50px;
                    .col-md-12{
                        padding-left: 0px;
                        
                        .card{
                            background: #ffffff;
                            border: none;
                            
                            .card-body{
                                padding: 0px;
                                img{
                                    width: 90px;
                                    text-align: center;
                                    margin: auto;
                                    display: flex;
                                }
                            }
                            .card-footer{
                                border-top: none;
                                background: rgb(255, 255, 255);
                                padding-left: 0px;
                                padding-right: 0px;
                                .title{
                                    color: #d70a20;
                                    font-size: 22px;
                                    font-weight: bold;
                                    text-align: center;
                                }
                            }
                        }
                    }
                    nav{
                        margin-top: 25px;
                        margin-left: 20px;
                        .nav{
                            flex-direction: column;
                            .nav-item{
                                margin: 5px 0px;
                                .nav-link{
                                    color: black;
                                    transition: .25 s ease-in-out;
                                    font-size: 14px;
                                    i{
                                        margin-right: 2px;
                                    }
                                }
                                .nav-link:hover{
                                    color: #d70a20;
                                }
                                .active{
                                    color: #d70a20;
                                }
                            }
                        }
                    }
                }
            }

            /*---------------   center    -------------- */

            #center{
                
                padding-left: 15px;
                padding-right: 15px;
                background: #f7f8fa;
                .gretting{
                    margin-top: 50px;
                    color: #d70a20;
                    font-size: 14px;
                    font-weight: 100 !important;
                }
                .name{
                    color: black;
                    font-weight: bold;
                    font-size: 25px;
                }
                .title{
                    color: black;
                    font-weight: bold;
                    margin-top: 30px;
                    margin-bottom: 25px;
                    font-size: 25px;
                }

                /*#############   Récapitulatif   #############*/
                #recap_row{
                    #recap{
                        color: #d70a20;
                        font-size: 14px;
                        font-weight: 500;
                    }
                    .col-md-4{
                        
                        .card{
                            flex-direction: row-reverse;
                            border-radius: 8px;
                            box-shadow: 3px 3px 50px rgba(29, 29, 28, 0.158);
                            height: 100px;
                            border: none;
                            img{
                                width: 60px;
                                height: 60px;
                                text-align: center;
                                    margin: auto;
                                    display: flex;
                            }
                            .card-body{
                                
                                position: relative;
                                padding: 10px 10px 15px 10px;
                                .desc{
                                    font-size: 15px;
                                    span{
                                        font-size: 25px;
                                        font-weight: bold;
                                        color: #d70a20;
                                        padding-left: 15px;
                                    }
                                    .principal{
                                        font-size: 25px;
                                    }
                                    .bas{
                                        display: block;
                                        position: absolute;
                                        top: 70px;
                                        left: 25px;
                                        font-size: 12px;
                                        font-weight: 100;
                                    }
                                    .haut{
                                        img{
                                            width: 10px;
                                            height: 10px;
                                            position: absolute;
                                            top: 60px;
                                            left: 55px;
                                        }
                                    }
                                }
                            }
                        }
                    }
            
                }

                /*#############   Commandes Disponibles   #############*/
                #commande_dispo_row{
                    margin-top: 30px;
                    #commande_dispo{
                        color: #d70a20;
                        font-size: 14px;
                        font-weight: 500;
                    }
                    .col-md-4{
                        .card{
                            border-radius: 8px;
                            box-shadow: 3px 3px 50px rgba(29, 29, 28, 0.158);
                            border: none;
                            .card-header{
                                border-top-left-radius: 10px;
                                border-top-right-radius: 10px;
                                padding: 0px 15px;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                background-color: white;
                                border-bottom: none;
                                .title{
                                    color: black;
                                    font-size: 14px;
                                }
                                .desc_red{
                                    color: #d70a20;
                                    font-size: 10px;
                                    padding-top: 20px;
                                }
                            }
                            .card-body{
                                background-color: white;
                                padding: 0px 15px;
                                ._body_1{
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    i{
                                        color: #d70a20;
                                        display: inline-block;
                                        padding-bottom: 15px;
                                        margin-right: 10px;
                                        }
                                    .lieu{
                                        font-size: 12px;
                                    }
                                }
                                ._body_2{
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                                        .time{
                                            font-size: 14px;
                                            span{
                                                font-size: 12px;
                                                color: #707070;
                                            }
                                        }
                                    }
                            }
                            .card-footer{
                                background-color: white;
                                padding: 0px 15px;
                                display: flex;
                                align-items: center !important;
                                justify-content: space-between;
                                border-bottom-left-radius: 10px;
                                border-bottom-right-radius: 10px;
                                ._left, ._right{
                                    margin-top: 10px;
                                    font-size: 13px;
                                    font-weight: 50;
                                    a{
                                        color: black;
                                        text-decoration: none;
                                    }
                                }
                                ._left{
                                    a{
                                        color: #d70a20;
                                    }
                                    
                                }
                            }
                        }
                    }
                }
            }





            /*---------------   right    -------------- */  

            #_right{
                position: relative;
                padding-left: 0px;
                position: sticky;
                height: 100vh;
                top: 1px;
                .row{
                    margin-top: 100px;
                    .col-md-12{
                        .card{
                            border: none;
                            flex-direction: row-reverse;
                            position: relative;
                            img{
                                width: 50px;
                                height: 50px;
                                position: absolute;
                                top: 35%;
                            }
                            .card-body{
                                padding-bottom: 0px;
                                padding-right: 0px;
                                .desc_red{
                                    color: #d70a20;
                                    font-size: 15px;
                                }
                                .title{
                                    font-size: 20px;
                                    font-weight: bold;
                                }
                                .desc{
                                    font-size: 12px;
                                }
                            }
                        }
                        img{
                            width: 95%;
                            margin: auto;text-align: center;
                            margin: auto;
                            display: flex;
                        }
                    }
                }
                ._notification{
                    margin-top: 5px;
                    .col-md-12{
                        .row{
                            margin-top: 30px;
                            .desc_1{
                                color: #d70a20;
                                font-size: 12px;
                                font-weight: bold;
                            }
                            .desc_2{
                                color: black;
                                font-size: 10px;
                                font-weight: 100;
                            }
                        }
                        .card{
                            display: flex;
                            align-items: center;
                            .desc{
                                font-size: 10px;
                                font-weight: bold;
                                span{
                                    font-size: 8px;
                                    font-weight: 100;
                                }
                            }
                            ._icon{
                                padding: 0px 5px;
                                i{
                                    text-align: center;
                                    background: #fccacf;
                                    padding: 7px 12px;
                                    border-radius: 10px;
                                    font-size: 12px;
                                }
                                .fa-exclamation{
                                    color: #f35162;
                                }
                                .fa-envelope{
                                    background: #ffe3b2;
                                    color: #ffa101;
                                }
                            }
                        
                        }
                    }
                }
            }
              
        }
    }

}


